@font-face {
	font-family: "EnergySoft";
	src: url("../rsrc/font/energy-soft/energysoftthin.woff2") format("woff2"),
		 url("../rsrc/font/energy-soft/energysoftthin.woff") format("woff");
	font-weight: 100;
	font-style: normal;
}
@font-face {
	font-family: "EnergySoft";
	src: url("../rsrc/font/energy-soft/energysoftthin-italic.woff2") format("woff2"),
		 url("../rsrc/font/energy-soft/energysoftthin-italic.woff") format("woff");
	font-weight: 100;
	font-style: italic;
}

@font-face {
	font-family: "EnergySoft";
	src: url("../rsrc/font/energy-soft/energysoftlight.woff2") format("woff2"),
		 url("../rsrc/font/energy-soft/energysoftlight.woff") format("woff");
	font-weight: 200;
	font-style: normal;
}
@font-face {
	font-family: "EnergySoft";
	src: url("../rsrc/font/energy-soft/energysoftlight-italic.woff2") format("woff2"),
		 url("../rsrc/font/energy-soft/energysoftlight-italic.woff") format("woff");
	font-weight: 200;
	font-style: italic;
}

@font-face {
	font-family: "EnergySoft";
	src: url("../rsrc/font/energy-soft/energysoftbook.woff2") format("woff2"),
		 url("../rsrc/font/energy-soft/energysoftbook.woff") format("woff");
	font-weight: 300;
	font-style: normal;
}
@font-face {
	font-family: "EnergySoft";
	src: url("../rsrc/font/energy-soft/energysoftbook-italic.woff2") format("woff2"),
		 url("../rsrc/font/energy-soft/energysoftbook-italic.woff") format("woff");
	font-weight: 300;
	font-style: italic;
}

@font-face {
	font-family: "EnergySoft";
	src: url("../rsrc/font/energy-soft/energysoftregular.woff2") format("woff2"),
		 url("../rsrc/font/energy-soft/energysoftregular.woff") format("woff");
	font-weight: 400;
	font-style: normal;
}
@font-face {
	font-family: "EnergySoft";
	src: url("../rsrc/font/energy-soft/energysoftregular-italic.woff2") format("woff2"),
		 url("../rsrc/font/energy-soft/energysoftregular-italic.woff") format("woff");
	font-weight: 400;
	font-style: italic;
}

@font-face {
	font-family: "EnergySoft";
	src: url("../rsrc/font/energy-soft/energysoftmedium.woff2") format("woff2"),
		 url("../rsrc/font/energy-soft/energysoftmedium.woff") format("woff");
	font-weight: 500;
	font-style: normal;
}
@font-face {
	font-family: "EnergySoft";
	src: url("../rsrc/font/energy-soft/energysoftmedium-italic.woff2") format("woff2"),
		 url("../rsrc/font/energy-soft/energysoftmedium-italic.woff") format("woff");
	font-weight: 500;
	font-style: italic;
}

@font-face {
	font-family: "EnergySoft";
	src: url("../rsrc/font/energy-soft/energysoft-bolditalic.woff2") format("woff2"),
		 url("../rsrc/font/energy-soft/energysoft-bolditalic.woff") format("woff");
	font-weight: 700;
	font-style: italic;
}
@font-face {
	font-family: "EnergySoft";
	src: url("../rsrc/font/energy-soft/energysoft-bold.woff2") format("woff2"),
		 url("../rsrc/font/energy-soft/energysoft-bold.woff") format("woff");
	font-weight: 700;
	font-style: normal;
}

@font-face {
	font-family: "EnergySoft";
	src: url("../rsrc/font/energy-soft/energysoftheavy.woff2") format("woff2"),
		 url("../rsrc/font/energy-soft/energysoftheavy.woff") format("woff");
	font-weight: 800;
	font-style: normal;
}
@font-face {
	font-family: "EnergySoft";
	src: url("../rsrc/font/energy-soft/energysoftheavy-italic.woff2") format("woff2"),
		 url("../rsrc/font/energy-soft/energysoftheavy-italic.woff") format("woff");
	font-weight: 800;
	font-style: italic;
}

@font-face {
	font-family: "EnergySoft";
	src: url("../rsrc/font/energy-soft/energysoftblack.woff2") format("woff2"),
		 url("../rsrc/font/energy-soft/energysoftblack.woff") format("woff");
	font-weight: 900;
	font-style: normal;
}
@font-face {
	font-family: "EnergySoft";
	src: url("../rsrc/font/energy-soft/energysoftblack-italic.woff2") format("woff2"),
		 url("../rsrc/font/energy-soft/energysoftblack-italic.woff") format("woff");
	font-weight: 900;
	font-style: italic;
}
