
<div class="row" style="margin-top:25px;">
  <div class="col-md-6 col-sm-12">
    <div class="card" style=" text-align:center;">
      <div class="card-block">
        <h4 class="card-title"><strong>View All Consultants</strong></h4>
        <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
        <a ui-sref="checkin" class="btn btn-primary card-link">View Consultants</a>
      </div>
    </div>
  </div>
  <div class="col-md-6 col-sm-12">
    <div class="card" style=" text-align:center;">
      <div class="card-block">
        <h4 class="card-title"><strong>View All Events</strong></h4>
        <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
          <a ui-sref="events" class="btn btn-primary card-link">View Events</a>
      </div>
    </div>
  </div>
</div>
